<!-- Entry details page -->


<h1><%= @entry["title"] %>, <%= @entry["title"] %></h1>

<ul>
  <li><%= @entry["description"] %>, <%= @entry["description"] %></li>
  <li><%= @entry["posted_on"] %></li>
</ul>

<% if entry.uploaded_image.attached? %>
  <img src="<%= url_for(entry.uploaded_image) %>" class="img-fluid">
<% else %>
  <img src="<%= entry["image"] %>" class="img-fluid">
<% end %>

<p><a href="/places/<%= @place["id"] %>">Back to<%= @place["name"] %></a></p>
